<div class="auth-page">
  <div class="auth-tabs">
    <mat-tab-group animationDuration="0ms" dynamicHeight color="primary" >
      <mat-tab label="Логин" isActive="true">        
        <div class="auth-tab__item">
          <login-form></login-form>
        </div>
      </mat-tab>
      <mat-tab label="Регистрация" >
        <div class="auth-tab__item">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam ea, ab ut id maiores itaque veritatis? Nostrum sed odit minima, 
            laborum quas, quidem repellendus quam sapiente amet omnis corporis consectetur.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Numquam ea, ab ut id maiores itaque veritatis? Nostrum sed odit minima, 
            laborum quas, quidem repellendus quam sapiente amet omnis corporis consectetur.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Numquam ea, ab ut id maiores itaque veritatis? Nostrum sed odit minima, 
              laborum quas, quidem repellendus quam sapiente amet omnis corporis consectetur.</p>
        </div>
        <!-- <reg-form></reg-form> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>